name: Download and release APKs

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'
    
  push:
    branches: main
    paths:
      - apps.txt
      - .github/workflows/download-and-release-apks.yml

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  # only run one build at a time
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  list-apps:
    runs-on: ubuntu-latest
    outputs:
      apps: ${{ steps.set-matrix.outputs.apps }}
    steps:
      - uses: actions/checkout@v5
      - name: set-matrix
        id: set-matrix
        run: |
          app_list=$(cat apps.txt | jq -R -s -c 'split("\n")[:-1]')
          echo "apps=${app_list}" | tee -a "$GITHUB_OUTPUT"
  
  release:
    needs: list-apps
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # stop GH from cancelling all matrix builds if one fails
      matrix:
        #app: ${{ fromJSON(needs.list-apps.outputs.apps) }}
        app:
          - com.nhs.online.nhsonline
      max-parallel: 1 # Ensure commits and releases don't happen simultaneously

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5

      - name: Download apkeep
        run: |
          # https://github.com/EFForg/apkeep
          #docker run \
          #  --rm \
          #  -v ${{ env.apk_dir_path }}:/output \
          #  ghcr.io/efforg/apkeep:stable \

          curl -sSL -o apkeep "https://github.com/EFForg/apkeep/releases/latest/download/apkeep-x86_64-unknown-linux-gnu"
          chmod +x apkeep

      - name: Prepare folder
        run: |
          echo "apk_dir_path=${{ matrix.app }}" | tee -a "$GITHUB_ENV"
          mkdir -p "${{ matrix.app }}"

      - name: Store version of new apk
        run: |
          ./apkeep -a ${{ matrix.app }} -l . | tail -n 1 | grep -oP '[\d+.]+' | sort -V | tail -n 1 > ${{ env.apk_dir_path }}/version_new_file

      - name: Get current and new version of apk
        run: |
          # Create current files if they don't exist
          touch ${{ env.apk_dir_path }}/hash_current_file
          touch ${{ env.apk_dir_path }}/version_current_file
          echo "current_version=$(cat ${{ env.apk_dir_path }}/version_current_file)" | tee -a "$GITHUB_ENV"
          echo "new_version=$(cat ${{ env.apk_dir_path }}/version_new_file)" | tee -a "$GITHUB_ENV"
          echo "current_hash=$(cat ${{ env.apk_dir_path }}/hash_current_file)" | tee -a "$GITHUB_ENV"

      - name: Get APK
        if: ${{ env.current_version != env.new_version }}
        run: |
          # Try downloading via Google Play
          # https://github.com/EFForg/apkeep/blob/master/USAGE-google-play.md
          echo "Downloading via Google Play"
          ./apkeep \
            -a ${{ matrix.app }} \
            -d google-play \
            -o device=px_9a \
            -e ${{ secrets.APKEEP_EMAIL }} \
            -t ${{ secrets.APKEEP_AAS_TOKEN }} \
            ${{ env.apk_dir_path }}

          # If Google Play did not work (no apk or xapk file), fallback to APKPure
          # https://github.com/EFForg/apkeep/blob/master/USAGE-apkpure.md
          if ! find "${{ env.apk_dir_path }}" -maxdepth 1 \( -name '*.apk' -o -name '*.xapk' \) | grep -q .; then
            echo "Downloading via APKPure"
            echo "ls -lhR ${{ env.apk_dir_path }}"
            ls -lhR ${{ env.apk_dir_path }}
            ./apkeep \
              -a ${{ matrix.app }} \
              -d apk-pure \
              -o 'arch=arm64-v8a' \
              ${{ env.apk_dir_path }}
          fi

          echo "ls -lhR"
          ls -lhR
          
          file_path=`ls ${{ env.apk_dir_path }}/*apk`
          echo "apk_file_path=${file_path}" | tee -a "$GITHUB_ENV"

      - name: Store md5 hash of new apk
        if: ${{ env.current_version != env.new_version }}
        run: |
          md5sum "${{ env.apk_file_path }}" | cut -d " " -f 1 | tee -a ${{ env.apk_dir_path }}/hash_new_file
          echo "new_hash=$(cat ${{ env.apk_dir_path }}/hash_new_file)" >> "$GITHUB_ENV"
      
      - name: Record last update date and update current hash+version
        if: ${{ env.current_version != env.new_version }}
        run: |
          date +%Y-%m-%d_%H-%M > ${{ env.apk_dir_path }}/last_update_date
          echo "last_update_date_env=$(cat ${{ env.apk_dir_path }}/last_update_date)" | tee -a "$GITHUB_ENV"
          mv ${{ env.apk_dir_path }}/hash_new_file ${{ env.apk_dir_path }}/hash_current_file
          mv ${{ env.apk_dir_path }}/version_new_file ${{ env.apk_dir_path }}/version_current_file

      - name: Find file extension
        if: ${{ env.current_version != env.new_version }}
        run: |
          file=${{ env.apk_file_path }}
          echo "file_extension=${file##*.}" | tee -a "$GITHUB_ENV"
      
#      # https://code.whatever.social/questions/13469147/get-android-apk-file-versionname-or-versioncode-without-installing-apk
#      - name: Find version number
#        if: ${{ env.current_version != env.new_version }}
#        run: |
#          sudo apt install -y aapt
#          tree -aF ${{ matrix.app }}
#
#          # If it is a .xapk file, unzip it and find the version in the extracted apk
#          file=${{ env.apk_file_path }}
#
#          # Check if file extension is xapk
#          if [[ "$file" == *.xapk ]]; then
#            
#            # Remove .xapk extension for folder name
#            folder="${file%.xapk}"
#            # Unzip the file to the new folder
#            unzip "$file" -d "$folder"
#            echo "Unzipped $file to folder $folder"
#
#            echo "Find apk"
#            find "${folder}" -name "${{ matrix.app }}.apk"
#
#            echo "tree"
#            tree -aF "${folder}"
#
#            file=`find "${folder}" -name "${{ matrix.app }}.apk"`
#            echo "VARIABLE file = $file"
#          else
#            echo "${file} is not an .xapk file."
#          fi
#          
#          # get versionName string, remove "versionName=, remove "'". This is more readable than lookaheads/lookbehinds
#          version=`aapt dump badging ${file} | grep -Po "versionName='.+?'" | sed "s/versionName=//" | sed "s/'//g"`
#          echo "version=${version}" | tee -a "$GITHUB_ENV"
##          unzip -d apk_files ${{ env.filename }}
##          echo "version=$(grep "Version" apk_files/assets/about.html | grep -oP '[0-9\.]+')" >> $GITHUB_ENV
##          rm -rf apk_files

      - name: Write tag name
        if: ${{ env.current_version != env.new_version }}
        #run: echo "tagname=${{ env.new_version }}_${{ env.last_update_date_env }}" >> $GITHUB_ENV
        run: |
          ver="${{ env.new_version }}"
          last_update="${{ env.last_update_date_env }}"
          tagname="${{ matrix.app }}_${ver}_${last_update}"
          echo "tagname=${tagname}" | tee -a "$GITHUB_ENV"

      - name: Update to get other matrix job changes
        run: git pull
          
      - name: Release apk if hashes are different
        if: ${{ env.current_version != env.new_version }}
        id: release-apk
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.tagname }}
          body: "New version of ${{ matrix.app }}"
          files: ${{ env.apk_file_path }}

      # https://github.com/marketplace/actions/gh-release#outputs
      - name: Add the download link to docs/index.html
        if: ${{ env.current_version != env.new_version }}
        run: |
          file="docs/index.html"
          url="${{ fromJSON(steps.release-apk.outputs.assets)[0].browser_download_url }}"
          what_to_add="    <li><a href=${url}>${{ env.tagname }}.${{ env.file_extension }}</a></li>"

          echo 'echo $what_to_add'
          echo "$what_to_add"

          echo 'echo ${file}'
          echo "${file}"


          echo 'grep -En ".*${{ matrix.app }}.*" "${file}"'
          grep -En ".*${{ matrix.app }}.*" "${file}"

          echo 'grep -n ".*${{ matrix.app }}.*" "${file}"'
          grep -n ".*${{ matrix.app }}.*" "${file}"

          echo 'grep -n ".*${{ matrix.app }}.*" "${file}" | cut -f 1 -d ":"'
          grep -n ".*${{ matrix.app }}.*" "${file}" | cut -f 1 -d ":"

          echo 'grep -n ".*${{ matrix.app }}.*" "${file}" | cut -f 1 -d ":" | head -n 1'
          grep -n ".*${{ matrix.app }}.*" "${file}" | cut -f 1 -d ":" | head -n 1

          # Add before existing links if they exist
          line_where_to_add=`grep -n ".*${{ matrix.app }}.*" "${file}" | cut -f 1 -d ":" | head -n 1`
          line_where_to_add=${line_where_to_add:+$((line_where_to_add - 1))}

          echo 'echo $line_where_to_add'
          echo "$line_where_to_add"
          
          # if none exists, add after <body> (before that line+1, so that we can apply -1 after regardless)
          line_body=`grep -n "<body>" $file | cut -f 1 -d ":" | head -n 1`

          echo 'echo $line_body'
          echo "$line_body"
          
          where_to_add=${line_where_to_add:-$line_body}

          echo 'echo $where_to_add'
          echo "$where_to_add"
          

          # Add the line
          sed -i "${where_to_add}r"<(echo "$what_to_add") $file

          echo 'cat $file'
          cat "$file"

      - name: Delete links of APKs older than 5 releases ago
        if: ${{ env.current_version != env.new_version }}
        run: |
          file="docs/index.html"
          # grep -> line number
          # tail -> start after line 5 (from line 6)
          # no need to sort, the new links are added to the bottom, so the oldest are at the bottom
          # cut -> grep returns "22: xxxxxxxxxxx", so get the line number
          # sed appends the letter d, because delete on line 2 is sed "2d"
          # sed -> apply all the "2d\n3d\n..." to the file
          grep -n "${{ matrix.app }}" ${file} | tail -n +6 | cut -d ":" -f 1 | sed "s/$/d/" | sed -i -f - ${file}
          
      - name: Delete releases and tags older than 5 releases/tags
        if: ${{ env.current_version != env.new_version }}
        run: |
          git ls-remote https://github.com/schklom/my-apks | grep "${{ matrix.app }}" | head -n -5 | sed "s|.*refs/tags/||g" | while read -r tag; do
            # oneliner is harder to debug and read
            # echo "Deleting release and tag with tag name: $tag"
            # gh release delete "$tag" --cleanup-tag --yes || git push --delete origin "$tag"
            
            # Check if a release for the tag exists
            if gh release view "$tag" > /dev/null 2>&1; then
              echo "Release for tag '$tag' found. Deleting release and tag."
              gh release delete "$tag" --cleanup-tag --yes
            else
              echo "No release found for tag '$tag'. Deleting only the tag."
              git push --delete origin "$tag"
            fi
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Commit and push the change
        if: ${{ env.current_version != env.new_version }}
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Update ${{ matrix.app }}'s hash and version update date and add link to docs/index.html"
          file_pattern: '${{ env.apk_dir_path }}/hash_current_file ${{ env.apk_dir_path }}/version_current_file ${{ env.apk_dir_path }}/last_update_date docs/index.html'
